<div class="flex justify-content-center card">
    <div class="flex ">
        <p-card>
            <h2 class="text-center">Cadastro de Usuario</h2>
            <div>
                <div class="field col-12 md:col-12">
                    <label for="">Nome:</label>
                    <input type="text" class="inputfield w-full">
                </div>
                <div class="field col-12 md:col-12">
                    <label for="">Senha:</label>
                    <input type="password" class="inputfield w-full">
                </div>
                <div class="field col-12 md:col-12">
                    <button pButton type="button" label="Cadastrar" class="col-12 button-default"></button>
                </div>
            </div>
        </p-card>
    </div>
</div>